<!DOCTYPE html>
<html>

<head>

<title>Reset Password</title>

<style>

body{
font-family:Poppins;
background:#eef2f7;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.box{

width:420px;
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 0 15px rgba(0,0,0,.15);

}

input{

width:100%;
padding:12px;
margin:15px 0;

}

button{

width:100%;
padding:12px;
background:#27ae60;
color:white;
border:none;

}

</style>

</head>

<body>

<div class="box">

<h2>Create New Password</h2>

<form method="POST">

<input
type="password"
name="password"
placeholder="New Password"
required>

<input
type="password"
name="confirm"
placeholder="Confirm Password"
required>

<button>

Update Password

</button>

</form>

</div>

</body>

</html>