<!DOCTYPE html>
<html>

<head>

<title>Verify OTP</title>

<style>

body{
font-family:Poppins;
background:#eef2f7;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.box{

width:400px;
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 0 15px rgba(0,0,0,.15);

}

input{

width:100%;
padding:12px;
margin:20px 0;

}

button{

width:100%;
padding:12px;
background:#27ae60;
color:white;
border:none;

}

</style>

</head>

<body>

<div class="box">

<h2>Verify OTP</h2>

<form method="POST">

<input
type="text"
name="otp"
placeholder="Enter 6-digit OTP"
required>

<button>

Verify OTP

</button>

</form>

</div>

</body>

</html>